<div class="content content-actual-courses">
<div class="jumbotron text-center" ng-controller="ActualCoursesController">

   <h1>Aktualne i przyszłe kursy</h1>
   <div class="table-filter">
     <form class="form-inline">
     </form>
  </div>
  <div class="table-responsive table-courses table-actual-courses">
       <table class="table table-bordered table-striped table-hover">
         <thead>
           <tr>
             <th>
             </th>
             <th>
               Id
             </th>
             <th>
               Status
             </th>
             <th>
               Klient
             </th>
             <th>
               Taksowkarz
             </th>
             <th>
               Czas zamowienia
             </th>
             <th>
               Czas odbioru
             </th>
           </tr>
         </thead>
         <tr ng-repeat="actualCourse in actualCourses" ng-click="checkActualCourse( actualCourse )">
          <td>
            <div ng-if="actualCourse.status_kursu == 'oczekuje'">
              <input type="radio" id="course-radio-{{ actualCourse.id }}" name="edit-course" ng-click="checkActualCourse( actualCourse )">
            </div>
          </td>
          <td>{{ actualCourse.id }}</td>
          <td>{{ actualCourse.status_kursu }}</td>
          <td>{{ actualCourse.klient }}</td>
          <td>{{ actualCourse.taksowkarz }}</td>
          <td>{{ actualCourse.czas_zamowienia }}</td>
          <td>{{ actualCourse.czas_odbioru }}</td>
         </tr>
       </table>
       <h3 ng-show="!actualCourses.length">Brak kursow</h3>

       <div class="edit-course">
         <a href="#/courses/edit?id={{ edit.course.id }}" class="btn btn-taxi" ng-click="editActualCourse()">Modyfikuj</a>
         <button class="btn btn-taxi" ng-click="deleteActualCourse()">Usuń</button>
       </div>

       <ul class="pagination" ng-show="actualCourses.length > 15">
         <li><a id="prev-page" ng-click="changePage( currentPage - 1, course )"> < </a></li>
         <li><a id="prev-page" ng-click="changePage( currentPage - 1, course )"> {{ currentPage - 1 }} </a></li>
         <li><a id="prev-page" ng-click="changePage( currentPage, course )"> {{ currentPage }} </a></li>
         <li><a id="prev-page" ng-click="changePage( currentPage + 1, course )"> {{ currentPage + 1 }} </a></li>
         <li><a id="next-page" ng-click="changePage( currentPage + 1, course )"> > </a></li>
       </ul>

       <div class="preloader preloader-actual-courses">
       </div>

   </div>
</div>
</div>
