<!DOCTYPE html>
<html ng-app="DashboardModule">
  <head>
    <title>SystemTaxi - <%= me.login %>!</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap-table.css">
    <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
    <link rel="stylesheet" href="/styles/courses.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: '<%= _csrf %>',
      me: <%- JSON.stringify(me) %>
    };
    </script>
  </head>
  <body ng-controller="DashboardController" ng-cloak>
    <!-- Creates the navbar -->
    <nav class="navbar navbar-default navbar-inverse">
      <!-- This creates the mechanism for collapse button -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      <!-- This controls the number of lines in the image when the nav collapse -->
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <!-- This is the brand on the left-hand side. -->
      <a class="navbar-brand" href="/#/"> SystemTaxi</a>
      <!-- This is what is the above collapse button points to when the mark-up below is collapsed -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
        <!-- This is what "styles" the li's as navbar items -->
        <ul class="nav navbar-nav navbar-right">
          <!-- navbar-right pulls this element right -->
          <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
          fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
          controller will not be tied to this element. -->
          <li>
            <p>{{ login }}</p>
          </li>
          <li>
            <a href="/logout_employee">wyloguj</a>
          </li>
          <!-- <a ng-controller="signinController" class="btn btn-default navbar-btn navbar-right" href="#" ng-if="!isAuthenticated">sign-in</a> -->
          <!-- Using ng-show instead of ng-if because we need this mark-up to be in the dom when signup controller
          fires.  If it's not there (which it wouldn't be in the case of ng-if) then the scope of the signup
          controller will not be tied to this element. -->
        </ul>
      </div>
    </nav>
    <!-- container = Fixed-width container container-fluid = full-width -->
    <div class="container-fluid">



      <div id="content">
        <div ng-view></div>
      </div>


            <nav class="sidebar">
              <ul class="menu">
                <a class="course-create-link" href="/#/courses/create"><li>Nowy kurs</li></a>
                <a class="courses-link" href="/#/courses"><li>Kursy</li></a>
                <a class="clients-link" href="/#/clients"><li>Klienci</li></a>
                <a class="taxi-link" href="/#/taxi"><li>Taksowkarze</li></a>
                <a class="map-link" href="/#/map"><li>Mapa</li></a>
              </ul>
            </nav>

      <%- include actual_courses %>
    </div>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.1.4.min.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-route.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/dependencies/genetic.js"></script>
    <script src="/js/dependencies/google-maps.js"></script>
    <script src="/js/public/signup_employee/SignupEmployeeModule.js"></script>
    <script src="/js/public/signup/SignupModule.js"></script>
    <script src="/js/private/dashboard/DashboardModule.js"></script>
    <script src="/js/public/homepage/HomepageModule.js"></script>
    <script src="/js/private/dashboard/ActualCoursesController.js"></script>
    <script src="/js/private/dashboard/ClientsController.js"></script>
    <script src="/js/private/dashboard/CourseCancelController.js"></script>
    <script src="/js/private/dashboard/CourseCreateController.js"></script>
    <script src="/js/private/dashboard/CourseEditController.js"></script>
    <script src="/js/private/dashboard/CoursesController.js"></script>
    <script src="/js/private/dashboard/DashboardController.js"></script>
    <script src="/js/private/dashboard/MapController.js"></script>
    <script src="/js/private/dashboard/PlanningCoursesController.js"></script>
    <script src="/js/private/dashboard/TaxiController.js"></script>
    <script src="/js/private/dashboard/TaxiWorkController.js"></script>
    <script src="/js/public/homepage/CourseCancelController.js"></script>
    <script src="/js/public/homepage/CourseCreateController.js"></script>
    <script src="/js/public/homepage/HomepageController.js"></script>
    <script src="/js/public/homepage/PlanningCoursesController.js"></script>
    <script src="/js/public/signup/SignupController.js"></script>
    <script src="/js/public/signup_employee/SignupEmployeeController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
