      <!-- Creates the navbar -->
        <nav class="navbar navbar-default navbar-inverse">
          <!-- This creates the mechanism for collapse button -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <!-- This controls the number of lines in the image when the nav collapse -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- This is the brand on the left-hand side. -->
          <a class="navbar-brand" href="/#"> SystemTaxi</a>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            <form ng-submit="submitLoginForm()" class="navbar-form navbar-right">

              <div class="form-group">
                  <input ng-model="loginForm.login" type="text" placeholder="Login" name="login" class="form-control">
              </div>
              <div class="form-group">
                  <input ng-model="loginForm.password" type="password" placeholder="Hasło" name="password" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">
                <span ng-show="!loginForm.loading">Zaloguj</span>
                <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                <span ng-show="loginForm.loading">Logowanie...</span>
              </button>
              <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            </form>
          </div>
        </nav>


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.1.4.min.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-route.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/genetic.js"></script>
    <script src="/js/public/signup_employee/SignupEmployeeModule.js"></script>
    <script src="/js/public/signup/SignupModule.js"></script>
    <script src="/js/private/dashboard/DashboardModule.js"></script>
    <script src="/js/public/homepage/HomepageModule.js"></script>
    <script src="/js/private/dashboard/ActualCoursesController.js"></script>
    <script src="/js/private/dashboard/ClientsController.js"></script>
    <script src="/js/private/dashboard/CourseCreateController.js"></script>
    <script src="/js/private/dashboard/CourseEditController.js"></script>
    <script src="/js/private/dashboard/CoursesController.js"></script>
    <script src="/js/private/dashboard/DashboardController.js"></script>
    <script src="/js/private/dashboard/PlanningCoursesController.js"></script>
    <script src="/js/private/dashboard/TaxiController.js"></script>
    <script src="/js/private/dashboard/TaxiWorkController.js"></script>
    <script src="/js/public/homepage/HomepageController.js"></script>
    <script src="/js/public/signup/SignupController.js"></script>
    <script src="/js/public/signup_employee/SignupEmployeeController.js"></script>
    <script src="/js/test.js"></script>
    <!--SCRIPTS END-->
