.wrapper {
  background-color: #eee;
}

.container-fluid {
  margin-top: 50px;
}

.navbar-right li * {
  padding: 15px;
  color: #ffffff;
}

nav.sidebar {
  width: 15%;
  height: 500px;
  float: left;
  background-color: #eee;
  position: relative;
}

nav.sidebar ul {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav.sidebar a, nav.sidebar a:hover, nav.sidebar a:active {
  text-decoration: none;
}

nav.sidebar li {
  z-index: 9;
  list-style: none;
  padding: 10px;
  font-size: 16px;
  margin: 2px 0;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #333;
}

nav.sidebar li:hover, nav.sidebar a.active li {
  background-color: #f39c12;
  color: #fff;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;

  width:110%;
}

nav.sidebar li a {
}

#content {
  position: relative;
  width: 85%;
  float: right;
}

nav.topbar {
  position: absolute;
  top: -40px;
  right: 10px;
  height: 40px;
}

nav.topbar ul {
  list-style: none;

}

nav.topbar ul li {
  display: inline-block;
  padding: 10px;
  width: 100px;
  height: 40px;
  background-color: #eee;
  color: #333;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

nav.topbar ul li:hover, nav.topbar ul .active li {
  background-color: #f39c12;
  color: #fff;
}
