h1 {
  font-size: 30px !important;
}

.wrapper {
  background-color: #eee;
}

.container-fluid {
  margin-top: 50px;
}

.navbar-right li * {
  padding: 15px;
  color: #ffffff;
}

nav.sidebar {
  width: 15%;
  height: 500px;
  float: left;
  background-color: #eee;
  position: relative;
}

nav.sidebar ul {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav.sidebar a, nav.sidebar a:hover, nav.sidebar a:active {
  text-decoration: none;
}

nav.sidebar li {
  z-index: 9;
  list-style: none;
  padding: 10px;
  font-size: 16px;
  margin: 2px 0;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #333;
}

nav.sidebar li:hover, nav.sidebar a.active li {
  background-color: #f39c12;
  color: #fff;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;

  width:110%;
}

nav.sidebar li a {
}

.home #content {
  width: 100%;
  float: left;
}

.home .btn-create-course {
  width: 50%;
  height: 50px;
  font-size: 30px;
}

#content {
  position: relative;
  width: 85%;
  float: right;
  background-color: #eee;
  min-height: 500px;
}

.jumbotron {
  position: relative;
}

nav.topbar, nav.topbar-inner {
  position: absolute;
  top: -40px;
  right: 10px;
  height: 40px;
}

nav.topbar-inner {
  top: 10px;
  right: 25%;
  margin-right: 60px
}

nav.topbar ul, nav.topbar-inner ul {
  list-style: none;
  margin: 0;
}

nav.topbar ul li, nav.topbar-inner ul li {
  display: inline-block;
  padding: 10px;
  width: 100px;
  height: 40px;
  background-color: #eee;
  color: #333;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

nav.topbar-inner ul li {
  background-color: #fff;
}

nav.topbar ul li:hover, nav.topbar ul .active li, nav.topbar-inner ul li:hover, nav.topbar-inner ul .active li {
  background-color: #f39c12;
  color: #fff;
}

.pagination li {
  cursor: pointer;
}

.btn-taxi {
  background-color: #FFD584;
  color: #333;
}

.btn-taxi:hover {
  background-color: #f39c12;
  color: #fff;
}

table tbody tr:hover {
  background-color: #FFD584 !important;
}

input[type="submit"] {
  width: 100%;
}
