<div class="content content-courses">


<nav class="topbar">
  <ul class="menu">
    <a class="course-edit-link" href="/#/courses/edit"><li>Modyfikuj</li></a>
    <a class="clients-link" href="/#/courses"><li>Stworz</li></a>
    <a class="courses-link" href="/#/courses"><li>Lista</li></a>
  </ul>
</nav>

<div class="jumbotron text-center" ng-controller="CoursesController">

   <h1>Kursy</h1>
   <div class="table-filter">
     <form class="form-inline">
     </form>
  </div>
  <div class="table-responsive table-courses">
       <table class="table table-bordered table-striped table-hover">
         <thead>
           <tr>
             <th>
               <div class="form-group">
                 <input type="number" class="form-control" name="courseId" ng-model="course.id" ng-change="filter( course )" placeholder="Id">
               </div>
             </th>
             <th>
               <div class="form-group">
                 <input type="text" class="form-control" name="courseStatus" ng-model="course.status_kursu" ng-change="filter( course )" placeholder="Status kursu">
               </div>
             </th>
             <th>
               <div class="form-group">
                 <div><label>Tak</label><input type="radio" class="form-control" name="courseAnulowane" ng-model="course.anulowane" ng-change="filter( course )" value="1"></div>
                 <div><label>Nie</label><input type="radio" class="form-control" name="courseAnulowane" ng-model="course.anulowane" ng-change="filter( course )" value="0"></div>
                 <div><label>Odznacz</label><input type="radio" class="form-control" name="courseAnulowane" ng-model="course.anulowane" ng-change="filter( course )" value=""></div>
               </div>
             </th>
             <th>
               <div class="form-group">
                 <input type="text" class="form-control" name="courseKlient" ng-model="course.klient" ng-change="filter( course )" placeholder="Klient">
               </div>
             </th>
             <th>
               <div class="form-group">
                 <input type="number" class="form-control" name="courseOsobOd" ng-model="course.osob_od" ng-change="filter( course )" placeholder="Od">
                 <input type="number" class="form-control" name="courseOsobDo" ng-model="course.osob_do" ng-change="filter( course )" placeholder="Do">
               </div>
             </th>
             <th>
               <div class="form-group">
                 <input type="text" class="form-control" name="courseTaxi" ng-model="course.taksowkarz" ng-change="filter( course )" placeholder="Taksowkarz">
               </div>
             </th>
             <th>
               <div class="form-group">
                 <input type="date" class="form-control" name="courseDataOd" ng-model="course.data_od" ng-change="filter( course )" placeholder="Data od">
                 <input type="date" class="form-control" name="courseDataDo" ng-model="course.data_do" ng-change="filter( course )" placeholder="Data do">
               </div>
             </th>
             <th>
               <div class="form-group">
                 <input type="text" class="form-control" name="courseCzasZOd" ng-model="course.czas_zamowienia_od" ng-change="filter( course )" placeholder="Od">
                 <input type="text" class="form-control" name="courseCzasZDo" ng-model="course.czas_zamowienia_do" ng-change="filter( course )" placeholder="Do">
               </div>
             </th>
             <th>
               <div class="form-group">
                 <input type="text" class="form-control" name="courseCzasOOd" ng-model="course.czas_odbioru_od" ng-change="filter( course )" placeholder="Od">
                 <input type="text" class="form-control" name="courseCzasODo" ng-model="course.czas_odbioru_do" ng-change="filter( course )" placeholder="Do">
               </div>
             </th>
             <th>
               <div class="form-group">
                 <input type="text" class="form-control" name="courseCzasDOd" ng-model="course.czas_dostarczenia_od" ng-change="filter( course )" placeholder="Od">
                 <input type="text" class="form-control" name="courseCzasDDo" ng-model="course.czas_dostarczenia_do" ng-change="filter( course )" placeholder="Do">
               </div>
             </th>
             <th>
               <div class="form-group">
                 <input type="text" class="form-control" name="courseAdresOdb" ng-model="course.adres_odb" ng-change="filter( course )" placeholder="Adres odbioru">
               </div>
             </th>
             <th>
               <div class="form-group">
                 <input type="text" class="form-control" name="courseAdresDost" ng-model="course.adres_dost" ng-change="filter( course )" placeholder="Adres dostarczenia">
               </div>
             </th>
           </tr>
           <tr>
             <th>
               Id
             </th>
             <th>
               Status
             </th>
             <th>
               Anulowany
             </th>
             <th>
               Klient
             </th>
             <th>
               Osob
             </th>
             <th>
               Taksowkarz
             </th>
             <th>
               Data
             </th>
             <th>
               Czas zamowienia
             </th>
             <th>
               Czas odbioru
             </th>
             <th>
               Czas dostarczenia
             </th>
             <th>
               Adres Odbioru
             </th>
             <th>
               Adres Dostarczenia
             </th>
           </tr>
         </thead>
         <tr ng-repeat="course in courses" ng-click="preview( course )">
          <td>{{ course.id }}</td>
          <td>{{ course.status_kursu }}</td>
          <td>{{ course.anulowane }}</td>
          <td>{{ course.klient }}</td>
          <td>{{ course.osob }}</td>
          <td>{{ course.taksowkarz }}</td>
          <td>{{ course.data }}</td>
          <td>{{ course.czas_zamowienia }}</td>
          <td>{{ course.czas_odbioru }}</td>
          <td>{{ course.czas_dostarczenia }}</td>
          <td>{{ course.adres_odbioru.miasto }}, {{ course.adres_odbioru.ulica }} {{ course.adres_odbioru.nr_budynku }}</td>
          <td>{{ course.adres_dostraczenia.miasto }}, {{ course.adres_dostraczenia.ulica }} {{ course.adres_dostraczenia.nr_budynku }}</td>
         </tr>
       </table>
       <h3 ng-show="!courses.length">Brak kursow</h3>

       <ul class="pagination">
         <li><a id="prev-page" ng-click="changePage( currentPage - 1, course )"> < </a></li>
         <li><a id="prev-page" ng-click="changePage( currentPage - 1, course )"> {{ currentPage - 1 }} </a></li>
         <li><a id="prev-page" ng-click="changePage( currentPage, course )"> {{ currentPage }} </a></li>
         <li><a id="prev-page" ng-click="changePage( currentPage + 1, course )"> {{ currentPage + 1 }} </a></li>
         <li><a id="next-page" ng-click="changePage( currentPage + 1, course )"> > </a></li>
       </ul>

       <div class="preview-course">
         <h3>Podgląd kursu:</h3>
         <div class="table-responsive table-courses">
           <table class="table table-bordered table-striped table-hover">
             <tr>
               <td>Koszt: <br/> {{ preview.course.koszt }} zł</td>
               <td>Anulowany: <br/> {{ preview.course.anulowane }}</td>
               <td>Zmieniający: <br/> {{ preview.course.zmieniajacy }}</td>
               <td>Czas do odbioru: <br/> {{ preview.course.czas_do_odbioru }}</td>
               <td>Czas do dostarczenia: <br/> {{ preview.course.czas_do_dostarczenia }}</td>
               <td>Czas całkowity: <br/> {{ preview.course.czas_calkowity }}</td>
             </tr>
           </table>
        </div>
       </div>
   </div>
</div>
</div>
